# markdown basics
## markdown basics
### markdown basics
##### markdown basics
###### markdown basics

* **point1** (Bold)
* **point2* (Itallic)
* ***point3*** (Bold and Itallic)

* normal text 
 * sublist 1
 * sublist 2
 
 > 1. point1
 > 2. point2
 
 * ***adding links to markdown***
 
 * google site -- [1] : https://www.google.com/
 * msn site -- [2] : https://www.msn.com
 
 - []potion 1
 * google site -- [google][1]
 [1]: https://www.google.com/

### python basics
* python version 3.7
- functional programming
- object oriented programming
- scripting programming

In [6]:
print("Hello Gitam")
print("Hyderabad")

Hello Gitam
Hyderabad

In [10]:
print("Hello gitam","|||", end=" ")
print("Hyderabad","|||", end=" ")
print("python programming")

Hello gitam ||| Hyderabad ||| python programming

### Assignment

In [15]:
n1=100 #Single varible assignment
a=b=c=20 #Multi varible assignment with same value
a1,b1,c1=111,222,333 #Multi varible assignment with different value
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

### Data types and conversion
* int
* float
* string

In [2]:
a =100;
s1="python"
s2='p'
f1=10.2
print(a,s1,s2,f1)
print(type (a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [4]:
i=100
print(type(i))
s1=str(i) # str() converts the input into string type
print(type(s1))
f1=float(i) # float() converts the input into float
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [6]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [8]:
# A anumber is give 1234
# digit count 
a1=1234
print(len(str(a1)))

4

## reading a value
- inoput("Message")--string

In [10]:
s1=input("enter your name")
print(s1)
print(type(s1))

enter your namepraneeth
praneeth
<class 'str'>

In [12]:
# want a number as a input
n1=int(input("enter a no"))
print(n1,type(n1))

enter a no1234
1234 <class 'int'>

## operators
- operators is a symbols is used to perfrom a specific kind of operations
## Arithmetic operators
- +
- -
- *
- /
- %
- **
- //

In [14]:
n1=1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1**10)
print(n1//10)

1244
1224
12340
123.4
4
8187505353567209228244052427776
123

## precedence of the arth operators
- parenthesis
- power
- multiplication
- addition

### Left to Right

In [18]:
x=1+2**3/4+5
print(x)

8.0

In [20]:
x=1+2**3/4*5
print(x)

11.0

### Relations operators
- ==
- !=
- greater(>)
- less than(<)
- less than or equal tp(<=)
- greater than or equal to(>=)

### true or false

 ## logical operators
 - and(both true)
 - or(atleast one)
 - not(only one)

In [22]:
 i=10
 a=(i>15)
 print(a)

False

### control flow statements
- conditional
- looping

### if-else statements
* **syntax**

- if boolean_condition:
- statements
- else:
- statements

In [39]:
# to check given number is even or odd
n = int(input("enter a number"))
if n%2==0:
    print("even")
else:
    print("odd")

enter a number20
even

In [55]:
# to check given number is perfect multiply of 3 and 5
n= int(input("enter a number"))
if n%3 == 0 and n%5 == 0:
    print("yes")
else:
    print("no")

enter a number15
yes

In [ ]:
# test